/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Chivo:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sen:wght@400..800&display=swap'); */

@font-face {
    font-family: 'Sen';
    src: url('./fonts/Sen-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    /* font-family: sans-serif; */
    font-family: "Sen", sans-serif;
}

/* HEADER (CABEZERA) */
.cabezera{
    background-image: linear-gradient(
        rgb(21, 36, 65, 0.7),
        rgba(21, 36, 65, 0.7), 
        rgba(32,56,100, 0.7), 
        rgba(32,56,100, 0.7), 
        rgba(255, 255, 255)),  
        url(../../Imagenes/fondoBiblioteca.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
    display: flex;
    justify-content: space-evenly;
}

.fondo h1{
    font-size: 80px;
    color: white;
    font-stretch: expanded;
    text-transform: uppercase;
    text-align: center;
}

.fondo p{
    font-size: 30px;
    color: aliceblue;
}

.fondo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.texto{
    align-self: center;
}
.texto h1{
    font-size: clamp(20px, 5vw ,150px);
    text-align: center;
}
.texto  p{
    font-size: clamp(10px, 4vw ,30px);
    text-align: center;
}

.logos img{
    width: 100px;
    position: relative;
    
}
@media(max-width:800px){
    .logos img{
        width: 80px;
    }
}

/* BARVAR (BARRA DE NAVEGACION - MENU) */
.menu{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*width: 1600px;
    margin: 0 auto;*/
    background-color: white;
    z-index: 1;
    padding: 10px;
    border-bottom: 2px solid rgb(32, 56, 100);
}
.logo{
    color: rgb(32, 56, 100);
    font-size: 25px;
    font-weight: 900;
}

.menu-horizontal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-horizontal > li > a{
    display: block;
    padding: 10px 10px;
    margin: 0 30px;
    color: rgb(32, 56, 100);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.menu-horizontal > li > a::after{
    content: "";
    position: absolute;
    background-color: rgb(32, 56, 100);
    height: 3px;
    width: 0;
    z-index: 20;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
} 
.menu-horizontal > li > a:hover:after{
    width: 100%;
}

.opciones-verticales{
    position: absolute;
    display: none;
    top: 52px;
    width: auto;
    margin: 0 0 0 20px;
    background-color: white;
    border: 1px solid rgb(32, 56, 100);
    border-radius: 15px;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.144), 0 0 10px rgba(48, 50, 53, 0.144) !important;
    z-index: 2;
}

.menu-horizontal li:hover .opciones-verticales{
    display: block;
}
.opciones-verticales li a{
    position: relative;
    display: block;
    color: black;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}
.opciones-verticales li a::after{
    content: "";
    position: absolute;
    background-color: rgb(32, 56, 100);
    height: 3px;
    width: 0;
    left: 20px;
    bottom: 15px;
    transition: 0.5s;
}
.opciones-verticales li a:hover::after{
    width: 80% ;
}

.cuerpo{
    display: flex;
    /* border: 10px solid red; */
    justify-content: space-evenly;
    position: relative;
    /*gap: 100px 100px;*/
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px;
    /* box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important; */
}

.contenedor{
    width: 500px;
    height: 300px;
    /* border: 10px solid black;    */
    align-content: center;
    position: relative;
}
.contenedor h2{
    margin: 0 0 16px 0;
}
.contenedor p{
    font-size: 20px;
    color: #19191b;
}
.contenedorimg{
    position: relative;
    background-image: url(../../Imagenes/fotoLb.jpeg);
    height: 300px;
    width: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important;
    margin: 15px 0;
}

.decoration{
    z-index: -1;
    position: absolute;
    left: 90%;
    top: 40px;
    width: 100px;
    height: 220px;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important;
    border-radius: 0.2rem;
    background: rgb(32, 56, 100);
}

/* CARTAS LUIS BELTRAN*/
.contenedor-cartas{
    display: block;
    /*border: 10px solid red;*/
    position: relative;
    /*gap: 100px 100px;*/
    align-items: center;
    padding: 30px;
    background-color: #a9c3f8;
}

.contenedor-cartas h2{
    color: rgba(32,56,100);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px; 
}
.cartas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carta{
    width: 258px;
    height: 370px;
    border-radius: 20px;
    overflow: hidden;
    /*border: 8px solid ;*/
    position: relative;
    margin: 10px 0;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important;
}
.carta-img{
    width: 100%;
    height: 100%;
    /*para que no se alteren las dimensiones*/
    object-fit: cover;
    border-radius: 10px;
}
.contenido-carta{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(0, 3, 8, 0.342);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.carta:hover .contenido-carta{
    right: 0;
}

.titulo-carta{
    font-size: 20px;
}

.parrafo-carta{
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
    font-style: italic;
}

/* CARRUSEL DE IMAGENES */
.contenedor-galeria{
    display: block;
    
    justify-items: center;
    position: relative;
    /*gap: 100px 100px;*/
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 30px 0;
    margin: 30px;
}
.contenedor-galeria h2{
    font-size: 35px;
    color: rgb(32, 56, 100);
    margin-bottom: 20px;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important;

}
.slider h2{
    color: rgba(32,56,100);
    font-size: 40px;
    margin: 10px;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid rgb(32, 56, 100);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: white;
}

#radio1:checked ~ .frist{
    margin-left: 0;
}
#radio2:checked ~ .frist{
    margin-left: -20%;
}
#radio3:checked ~ .frist{
    margin-left: -40%;
}
#radio4:checked ~ .frist{
    margin-left: -60%;
}
#radio5:checked ~ .frist{
    margin-left: -80%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid rgb(32, 56, 100);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-bt1{
    background-color: rgb(32, 56, 100);
}
#radio2:checked ~ .nav-auto .a-bt2{
    background-color: rgb(32, 56, 100);
}
#radio3:checked ~ .nav-auto .a-bt3{
    background-color: rgb(32, 56, 100);
}
#radio4:checked ~ .nav-auto .a-bt4{
    background-color: rgb(32, 56, 100);
}
#radio5:checked ~ .nav-auto .a-bt5{
    background-color: rgb(32, 56, 100);
}

/* FOOTER (PIE DE PAGINA) */
.footer-contenedor{
    background-color: rgb(19, 17, 17);
    color: #BBBBBB;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 100%;
}

.fila-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

.zone{
    width: 25%;
    padding: 0 15px;
    position: relative;
}

.zone h3{
    margin-bottom: 15px;
    color: white;
    border-bottom: 5px solid rgb(32, 56, 100);
    padding-bottom: 10px;
    display: inline-block;
}

.o{
    color: #504f4f;
    margin-bottom: 5px;
}

.zone ul li a{
    color: #BBBBBB;
    display: block;
    margin-bottom: 10px; 
}

.animate a:hover{
    color: white;
    padding-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.esp{
    padding-left: 15px;
}

.copy{
    background-color: rgb(32, 56, 100);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0;
}

@media(max-width:800px){
    .fila-footer{
        text-align: center;
    }
    .zone{
        width: 100%;
        margin-bottom: 30px;
    }
    .zone{
        flex-direction: column;
        width: 500px;
    }
}

/* ESTILOS DE LA TABLA */
.tablaprueba{
    border-radius: 10px;
}
.tablaprueba thead{
    background-color: rgb(13, 23, 41);
    color: white;
}
.scroll{
    overflow-x: auto;
    /* width: 100%; */
    /* justify-content: center; */
    /* justify-items: center; */
}

.tablaprueba > tbody > tr:hover{
    background-color: rgb(76, 77, 78);
    color: white;
    cursor: default;
    transition: 0.5s;
    table-layout: fixed;
}

/* CONTENEDOR TABLA */
.contenedor-tabla{
    display: flex;
    /* flex-direction: column; */
    border: 15px solid rgb(32, 56, 100);
    border-radius: 20px;
    /* justify-content: space-evenly; */
    position: relative;
    /*gap: 100px 100px;*/
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px;
    text-align: center;
    box-shadow: 0 3px 80px rgba(48, 50, 53, 0.3), 0 0 10px rgba(8, 50, 53, 0.3) !important;
}
.subtitulo{
    display: flex;
    font-size: clamp(15px, 3vw , 40px);
    color: rgb(32, 56, 100);
    position: relative;
    /* width: 100%; */
}
.subtitulo::before{
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: rgb(32, 56, 100);
    /* z-index: 20; */
    position: absolute;
}
@media(max-width: 905px){
    .subtitulo::before{
        width: 0;
    }
}

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 20px 0 15px 0;
}

.boton_tabla {
    position: relative;
    font-family: 'Sen';
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    height: 50px;
}

.boton_tabla > i{
    margin-right: 8px;
}

.btn_registrar {
    background-color: #28a745;
}
.btn_registrar:hover {
    background-color: #1a8032;
    transition: 0.5s;
}

.btn_pdf {
    background-color: #f40f02;
}
.btn_pdf:hover{
    background-color: #aa0a02;
    transition: 0.5s;
}

.btn_exel {
    background-color: #1D6F42;
}
.btn_exel:hover {
    background-color: #164e2f;
    transition: 0.5s;
}
.btn_nuevo {
    background-color: #292785;
}
.btn_nuevo:hover {
    background-color: #1d1c5f;
    transition: 0.5s;
}

.boton_tabla:active{
    transform: scale(0.80);
}


.botones-tabla{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    /* max-width: 1050px; */
}


.botones-tabla > button{
    width: auto;
    padding: 0 15px;
    height: 50px;
    /* text-align: center; */
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 56, 100);
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    justify-content: center;
}
.botones-tabla > button > i{
    justify-content: center;
    margin-right: 8px;
    /* font-size: 20px; */
}
.botones-tabla button:first-child{
    background: rgb(50, 179, 50);
    color: white;
    transition: 0.3s;
}
.botones-tabla button:last-child{
    /* background:  */
    color: white;
    transition: 0.3s;
}
.botones-tabla button:first-child:hover{
    background: green;
    color: white;
    transition: 0.3s;
}
.botones-tabla button:last-child:hover{
    background: rgb(155, 30, 30);
    color: white;
    transition: 0.3s;
}
.botones-tabla button:active{
    transform: scale(0.80);
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.registro-activo{
    color: #FFF;
    background-color: #28a745;
}

.registro-prestado{
    color: #FFF;
    background-color: #285fa7;
}

.registro-inactivo{
    color: #FFF;
    background-color: #dc3545;
}
.badgePrestamo {
    display: inline-block;
    padding: 0.25em 0.4em;
    /* font-size: 80%; */
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.columna_tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.listado_cotas{
    width: 350px;
    height: auto;
    position: absolute;
    z-index: 10;
    padding: 10px;
    top: 54%;
}
.listado_cedulas {
    width: 350px;
    height: auto;
    position: absolute;
    z-index: 10;
    padding: 10px;
    top: 34%;
}
.listado_cotas > li,
.listado_cedulas > li{
    background-color: #d3d3d3;
    border-top: 1px solid rgb(32, 56, 100);
    padding: 8px;
    /* float: left; */
    cursor: pointer;
}

/* PROBANDO BOTONES
    ESTA VA GANANDO */

.btn_actions_table{
    display: flex;
    position: relative;
    justify-content: center;
    justify-self: center;
    border: none;
    border-radius: 7px;
    padding: 8px;
    gap: 7px;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}
.btn_actions_table > i {
    font-size: 15px;
}
.btn_actions_table > span {
    font-family: 'Sen';
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.btn_editar{
    /* text-decoration: none; */
    background: linear-gradient(to right,rgb(69, 69, 194),rgb(3, 3, 168));
    color: white;
}
.btn_eliminar{
    /* text-decoration: none; */
    background: linear-gradient(to right,rgb(226, 48, 48),rgb(194, 4, 4));
    color: white;
}
.btn_reactivar{
    /* text-decoration: none; */
    background: linear-gradient(to right,rgb(54, 184, 28),rgb(27, 148, 3));
    color: white;
}
.btn_vermas{
    /* text-decoration: none; */
    background: linear-gradient(to right,rgb(1, 87, 80),rgb(2, 139, 128));
    color: white;
}
.btn_devolver{
    /* text-decoration: none; */
    background: linear-gradient(to right,rgb(2, 31, 126),rgb(16, 57, 192));
    color: white;
}


/* Probando otras configuraciones */ 
.button {
    /* text-decoration: none; */
    font-family: 'Sen';
    line-height: 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
}
  
.button-decor {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
}
  
  .button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .button-content > i {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    font-size: 15px;
    color: white;
  }
  
  .button__text {
    display: inline-block;
    transition: color .2s;
    /* padding: 2px 1.5rem 2px; */
    /* padding-left: .70rem; */
    padding-left: 3px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }

.btn_delete > .button-decor {
    background-color: rgb(255, 0, 0);
}
.btn_delete > .button-content {
    border: 1px solid rgb(255, 0, 0);
}
.btn_delete > .button-content > i {
    background-color: rgb(255, 0, 0);
}
  
  .button:hover .button__text {
    color: #fff;
  }
  
  .button:hover .button-decor {
    transform: translate(0);
  }


.contenedor_perfil {
    /* border: 5px solid salmon; */
    margin: 2rem 3rem 2rem 3rem;
    justify-items: center;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    /* background-color: rgb(32, 56, 100); */
}

.tituloWelcome {
    display: flex;
    position: relative;
    /* border: 5px solid #19191b; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 15px 0 15px 0;
    /* background-color: rgb(32, 56, 100); */
}

.tituloWelcome > h2 {
    /* font-size: 50px; */
    font-size: clamp(25px, 5vw ,50px);
    color: black;
}

.tituloWelcome > h2 > i {
    /* font-size: 130px; */
    font-size: clamp(35px, 9vw ,140px);
    color: rgb(32, 56, 100);
}


.contenedor_fila {
    /* border: 5px solid red; */
    width: 100%;
    justify-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0 10px 0;
}
.fila {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 5px solid blue; */
    justify-content: space-around;
}
.inf_datos {
    position: relative;
    display: inline;
    text-align: center;
    font-size: clamp(20px, 3vw ,30px);
    color: rgb(0, 0, 0);
    border: 5px solid rgb(32, 56, 100);
    border-radius: 15px;
    width: 300px;
    margin: 2px 0 2px 0;
    /* background-color: rgb(32, 56, 100); */

}
.inf_datos > .label {
    font-weight: bold;
}
.logoESSA {
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}
.logoESSA > img {
    width: 130px;
} 

.asterisco_onbligatorio {
    color: red;
    font-size: 18px;
}
.incicacion {
    display: flex;
    justify-content: center;
    text-align: center;
}
.separe {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
